header {
  background-color: $verde-biobest;
}
.titulo {
  text-align: center;
}
footer {
  background-color: $morado-biobest;
}

.footertext {
  color: beige;
  text-align: center;
}
.Icons {
  text-align: center;
}

#conoce {
  padding-bottom: 8rem;
}

#conoce2 {
  text-align: center;
  padding: 2rem;
}

.card {
  padding: 1rem;
}

.logos {
  size: 100vh;
}
.Productdesc {
  text-align: justify;
}
h2 {
  padding-bottom: 2rem;
}
h3 {
  text-decoration: underline;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
iframe {
  max-width: 100%;
  height: 600px;
}
